/*reuse*/
:root{
    --mini-button: #3aadaa;
}

.mx-4{
    margin-left: 4px;
    margin-right: 4px;
}
.flex{
    display: flex;
}

.mini-button{
    border: 1px;
    border-radius: 4px;
    color: white;
    background-color: var(--mini-button);
}

.pp-button{
    padding: 10px 12px;
    border: 1px;
    border-radius: 4px;
    color: white;
    background-color: #7c6576;
}

.pagination-button{
    padding: 10px 12px;
    border: 1px solid #cecdcd;
}

/*reser css*/
*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*custom*/
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*header*/
header{
    height: 56px;
    padding: 8px 16px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

header .menu{
    display: flex;
    margin: 0 330px !important;
    padding: 0 15px;
}

.menu .logo img{
    margin-right: 24px;
}

.menu .navbar{
    display: flex;
    justify-items: center;
    align-items: center;
}

.menu .navbar ul{
    display: flex;
}

.navbar .nav-item{
    padding: 8px;
}

.navbar .nav-item:nth-child(5){
    margin: 0 16px;
}
.navbar .count-item{
    position: absolute;
    font-size: 13px;
    padding: 4px;
    top: 12px;
    margin-left: 2px;
}

.navbar .nav-item:nth-child(6){
    margin-left: 316px;
}

.navbar .nav-item a{
    color: rgba(0, 0, 0, 0.5);
}


.menu .contact{
    float: right;
    display: flex;
    align-items: center;
}

.contact a{
    margin-left: 24px;
    padding: 10px 12px;
}
